@charset "UTF-8";
/* テキストエリア */
textarea {
	width: 30em;
	height: 7em;
}

/* 名前の欄 */
#name {
	text-align: center;
}

/* 診断結果 */
result {
	width: 30em;
	height: 7em;
}
/* トップページに戻るボタン */
.toppage {
	text-align: center;
}

/* 画面上部に移動するボタン */
.top {
	text-align: right;
}
