@charset "UTF-8";

.main p {
	border : dotted 3px #F0B43E;
}
.keyvisual {
	text-align: center; /* 中央寄せ */
}
/* 受講者ログインを右上に */
.link3 {
	border:solid 1px #585858;
	display: inline-block;
	border-radius : 5%;          /* 角丸       */
	font-size     : 18pt;        /* 文字サイズ */
	text-align    : center;
	background-color:rgb(176,214,218);
	opacity: 0.9; /* 透明度 */
	transition: .3s; /* なめらか変化 */
	box-shadow: 6px 6px 3px #666666; /* 影の設定 */
	/*
	padding:10px;
	*/
	line-height: 2em;
	color:white;
	text-decoration: none;
	/*
	margin-left:1600px;
	*/
	width: 200px;
}

.link3:hover {
	box-shadow: none; /* カーソル時の影消去 */
	opacity: 1; /* カーソル時透明度 */
}

.link3-button {
	text-align: right;
}

/* ログインエリアを中央に配置 */
.alogin-area {
	width:300px;
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 10em;
	padding:20px;
	border:solid 4px rgb(240,180,62);
}

.alogin-form {
	padding-bottom:20px;
}

.alogin-bottan {
	margin-top:30px;
	margin-left:190px;
	margin-bottom:20px;
}

.alogin-subarea{
	margin-top:30px;
	margin-left:20px;
}

.regist-table {
	 border: solid 1px #000000;
	border-collapse: separate;
}