@charset "UTF-8";

/* 名前の欄 */
h1 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

/* 質問内容書 */
.qa {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

/* 質問事項 */
table.question {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

/* 診断結果書 */
h2 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;

}
/* 受講者コメント */
.u_comment {
	text-align: center;
	margin-left: auto;
    margin-right: auto;

}

/* 管理者コメント */
.a_comment {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
/* 診断結果テーブル */
table[class='result'] {
	width: center;
	height: 7em;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

/* テキストエリア */
textarea {
	width: 30em;
	height: 7em;
}

/* トップページに戻るボタン */
.toppage {
	text-align: center;
}

/* 画面上部に移動するボタン */
.top {
	text-align: right;
}

