@charset "UTF-8";

.main p {
	border : dotted 3px #F0B43E;
}

/* 受講者ログインを右上に */
.link3 {
	display: inline-block;
	border-radius : 5%;          /* 角丸       */
	font-size     : 18pt;        /* 文字サイズ */
	text-align    : center;
	background-color:rgb(176,214,218);;
	/*
	padding:10px;
	*/
	line-height: 2em;
	color:white;
	text-decoration: none;
	/*
	margin-left:1600px;
	*/
	width: 200px;
}

.link3-button {
	text-align: right;
}



/* ログインエリアを中央に配置 */
.alogin-area {
	width:300px;
    margin:100px auto;
	padding:20px;
	border:solid 4px rgb(240,180,62);
}

.alogin-form {
	padding-bottom:20px;
}

.alogin-bottan {
	margin-left:190px;
	margin-bottom:50px;
}

.regist-table {
	 border: solid 1px #000000;
	border-collapse: separate;
}