@charset "UTF-8";
/* 閲覧ページ */
p {
	padding: 0.5em 1em;
	margin-right: auto;
    margin: 2em 0;
    width: 200px;
    background: #f5f5f5;
    border: dashed 5px #ffa500;/*点線*/
}

/* 名前の欄 */
pre {
    padding: 3em 4em;
    width: 200px;
    background: #f5f5f5;
    border-top: solid 5px #ffa500;
    box-shadow: 0.3px 5px #ffa500;
}
.name {
	margin-right: auto;
	margin-left: auto;
}

/* 質問内容書 */
.qa {
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* 質問事項 */
table.question {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    padding: 0.5em 1em;
}

/* 診断結果書 */
h2 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;

}
/* 受講者コメント */
.u_comment {
	text-align: center;
	margin-left: auto;
    margin-right: auto;

}

/* 管理者コメント */
.a_comment {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
/* 診断結果テーブル */
.result {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

/* テキストエリア */
textarea {
	width: 50em;
	height: 7em;
	background: #ff9d30;
}

/* トップページに戻るボタン */
.toppage {
	text-align: center;
}

/* 画面上部に移動するボタン */
.top {
	text-align: right;
}

