@charset "UTF-8";

/* 全てのページに適用 */
html {
	font-family: sans-serif;
}

html* {
	box-sizing: border-box;
}

/* user_toppage.jsp */

/*.main p {
	border : dotted 3px #B0D6DA;
}*/

/*カレンダーエリア全体 */
.calendar-border {
	border-top: 20px;
	margin:0 200px;
}

.table tbody tr{
	height: 100px;
}

/* カレンダーの上にある「前月、現在の月、翌月」のcss*/
.calender-menu-table{
	margin-left: auto;
    margin-right: auto;
}

.calender-menu-table th{
	padding-left:50px;
	padding-right:50px;
}

.th-month {
	font-size: 25px; /* 今月の文字サイズ */
}

/* カレンダーの上にある「前月ボタン」のcss*/
input#previous-month {
	font-size: 20px;
	padding:10px;
	background-color: #B0D6DA;
	border: solid 2px #F0B43E; /*周りの線の色*/
	width: 70px;
}

/* カレンダーの上にある「翌月ボタン」のcss*/
input#next-month {
	font-size: 20px;
	padding:10px;
	background-color: #B0D6DA;
	border: solid 2px #F0B43E; /*周りの線の色*/
	width: 70px;
}


.comments {
	padding-left: 100px;
	padding-bottom:100px;
	padding-top:50px;
	line-height:10px;
}

p {
	font-size: 120%;
}


 /*「診断ボタン、診断結果ボタン」のcss */
.button-table  {
	margin-left: auto;
    margin-right: auto;
    padding: auto;
 }


 .button-table td {
	padding-left:50px;
	padding-right:50px;
}


.clear {
	clear:both;
}


input#user_result {
	font-size:30px;
	background-color: #B0D6DA;
	border: solid 2px #F0B43E; /*周りの線の色*/
	margin-right:30px;
	display: flex;
}


input#user_shindan {
	font-size:30px;
	background-color: #B0D6DA;
	border: solid 2px #F0B43E; /*周りの線の色*/
	display: flex;

}




/*
##D7EEFF 水色
#FFE4C4 オレンジ
#D3D3D3 グレー*/