@charset "UTF-8";
.keyvisual {
	text-align: center; /* 中央寄せ */
}
.main p {
	border : dotted 3px #B0D6DA;
}

.regist-area {
	width:300px;
    margin:140px auto;
	padding:20px;
	border:solid 4px rgb(176,214,218);
}

.regist-form {
	padding-bottom:20px;
}

.regist-bottan {
	margin-left:260px;
	margin-bottom:50px;
}

