@charset "UTF-8";
.keyvisual {
	text-align: center; /* 中央寄せ */
}
.main p {
	border : dotted 3px #B0D6DA;
}

/* 管理者ログインリンクを右上に,かつボタンに */
.link1 {
	display: inline-block;
	border-radius : 5%;          /* 角丸       */
	font-size     : 18pt;        /* 文字サイズ */
	text-align    : center;
	background-color:rgb(240,180,62);
	/*
	padding:10px;
	*/
	line-height: 2em;
	color:white;
	text-decoration: none;
	/*
	margin-left:1600px;
	*/
	width: 200px;
}

.link1-button {
	text-align: right;
}

/* ログインエリアを中央に配置 */
.ulogin-area {
	width:300px;
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 10em;
	padding:20px;
	border:solid 4px rgb(176,214,218);
}

.ulogin-form {
	padding-bottom:20px;
}

.ulogin-subarea{
	margin-top:30px;
	margin-left:20px;
}

.login-bottan {
	margin-top:30px;
	margin-left:190px;
}

.link2 {
	display:inline-block;
	text-decoration: none;
}

