@charset "UTF-8";


/* カレンダーの上にある「前の月、現在の月、次の月」のcss*/
.calender-menu-table{
	margin-left: auto;
   margin-right: auto;
}

#previous-month{
padding:5px;
}

#next-month{
padding:5px;
}

.calender-table{

border-collapse: separate;
border-spacing: 0px 0px;
margin-left: auto;
margin-right: auto;
font-size:20px;

}

.calender-table tr,.calender-table th {
	border: 2px solid #5d5d5d;
	width:3em;
	height:30px;
}

.user_toppage_button{
	margin:50px;
	text-align: center;
}

#user_result{
	font-size:30px;
}


#user_shindan{
	font-size:30px;
}