@charset "UTF-8";
/* 管理者ログインリンクを右上に,かつボタンに */
.link1 {
  float:right;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;
  line-height   : 1em;
  background-color:rgb(240,180,62);
  padding:10px;
  color:white;
  text-decoration: none;

}

/* ログインエリアを中央に配置 */
.ulogin-area {
	width:300px;
    margin:200px auto;
	padding:20px;
	border:solid 4px rgb(176,214,218);
}

.ulogin-form {
	padding-bottom:20px;
}

.login-bottan {
	margin-left:190px;
	margin-bottom:50px;
}

.link2 {
	display:inline-block;
	text-decoration: none;
}