@charset "UTF-8";

html {
	font-family: sans-serif;
}

/* 見出し */
h1 {
	font-size: 26px;
	/* border-bottom: 3px dotted #000000; */
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 50px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

/* 質問事項の余白 */
p {
	margin-left: 50px;
	font-size: 130%;
}

/* 質問項目左詰め */
.koumoku {
	text-align: left;
}

/* 診断エリアを中央に配置 */
.shindan-area {
	margin: 0 auto;
}

/* テーブルの設定 */
.table {
	border-color: transparent;
	border-collapse: collapse;
	margin: auto;
}

/* テーブルの余白 */
table {
	margin: auto;
}

/* テーブルの見出しを調整 */
td {
	font-size: 130%;
	text-align: center;
	border: 1px solid #bec2c7;
}

/* ラジオボタンの設定 */
input[type=radio] {
	width: 30px;
	height: 30px;
}

/* ボタンの設定 */
.botton {
	display: flex; /* 横並び */
	justify-content: center; /* 中央寄せ */
	padding-bottom: 15px;
	margin-bottom: 15px;
}

/*診断結果ボタン */
input[type="submit"] {
	font-size: 200%;
	position: relative;
	display: inline-block;
	padding: 0 0.25em;
	text-decoration: none; /* 下線なし */
	color: #000000; /* 文字の色 */
	background-color: #B0D6DA; /*背景色*/
	border-radius: 8px; /*角の丸み*/
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05);
	font-weight: bold;
	border: solid 2px #B0D6DA;
	margin: 0 8px; /*周りの線の色*/
}