@charset "UTF-8";

html {
	font-family: sans-serif;
}

/* 見出し */
h1 {
	font-size: 26px;
	/* border-bottom: 3px dotted #000000; */
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

/* 診断エリアを中央に配置 */
.shindan-area {
	margin:0 auto;
	width:1000px;
}

/* テーブルの設定 */
.table {
  border-color: transparent;
  border-collapse: collapse;
}

/* テーブルの見出しを調整 */
td {
	padding-right:25px;
	text-align: center;
	border:1px solid #bec2c7;
}
/* テーブルに罫線 */
th {
	border:1px solid #bec2c7;
}

/* 診断フォーム */
form {
	padding: 10px 10px;
}

